<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <title>DH TESTE B</title>
</head>

<body>
  <app-animated-background></app-animated-background>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="tab" role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">
                Home</a>
              </li>
            <li role="presentation">
              <a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">
                Portifolio</a>
              </li>
            <li role="presentation">
              <a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">
                Contact Us</a>
              </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
              <h3>Danger Hopeless</h3>
              <p>Somos lindos! Lor sit amet, consectetur adipiscing elit. Cras a blandit enim. Aliquam gravida orci id
                fringilla feugiat. Integer convallis ut ex quis semper. Suspendisse ut lobortis urna. Proin viverra,
                eros iaculis iaculis posuere, risus justo tincidunt ex, eget tempor lectus erat vel massa. Cum sociis
                natoque penatibus et magnis.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section2">
              <h3>Danger Hopeless</h3>
              <p>Somos gostosos! Lor sit amet, consectetur adipiscing elit. Cras a blandit enim. Aliquam gravida orci id
                fringilla feugiat. Integer convallis ut ex quis semper. Suspendisse ut lobortis urna. Proin viverra,
                eros iaculis iaculis posuere, risus justo tincidunt ex, eget tempor lectus erat vel massa. Cum sociis
                natoque penatibus et magnis.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Section3">
              <h3>Danger Hopeless</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a blandit enim. Aliquam gravida orci id
                fringilla feugiat. Integer convallis ut ex quis semper. Suspendisse ut lobortis urna. Proin viverra,
                eros iaculis iaculis posuere, risus justo tincidunt ex, eget tempor lectus erat vel massa. Cum sociis
                natoque penatibus et magnis. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>